.logoF{
    height: 35px;
    margin-bottom: 8%;
}
.footer{
    background-color: azure;
    padding: 5% 0%;
}
.topFP{
    font-weight: bold;
}
.footerCol1{
    padding-right: 10% !important;
}
.footerIcon{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    i{
        margin-left: 30px;
        font-size: 30px;
    }
}